.banner{
  height: 200px;
  width: 100%;
  border-radius: 5px;
  background-image: url(img/backGroundForBanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #0A5EB0;
  display: block;
  top: 0px;
  left: 0px;
}

div.banner h1{
  font-family:'Times New Roman', Times, serif;
  font-size: 50px;
  padding: 10px;
  height:auto;
}
p{
  height: 30px;
  font-family: roboto mono;
  padding: 10px;
}
#backGroundForBanner{
  height: 20%;
  width: 100%;
}


footer{
  border-top: 3px solid rgb(157, 0, 255);
  margin-top: 20px;
  font-size: 30px;
  color: rgb(88, 88, 185);
}
body{
  background-color: #f4f4da;
  height: 1000px;
  
}
img.logoPage{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: absolute;
  left: 70px;
  top :20px
}
img.clbIcon{
  height: 200px;
  border-radius: 100px;
  width: 200px;
}
div.clbSelect{
  cursor: pointer;
  background-color: rgb(244, 203, 235);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  width: 75%;
  border-radius: 50px;
  background-position: center;
  
  justify-self: center;
}
*{
  padding: 0px;
  margin: 0px;
}
a{
  display: block;
  text-decoration: none;

}
#homeClickh2{
  text-align: center;
  color: #0A5EB0;
  position: absolute;
  top: 80px;
  left: 300px;
  font-size: 40px;
}
.minhHoa{
  width: 400px;
  height: 300px;
}
.containerInClubPage{
  display: grid;
  padding: 110px;
  grid-template-columns: auto auto;
  gap: 20px;
  background-color: rgb(235, 228, 206);
}
#tickMinhHoa1{
  height: 400px;
  width: 300px;
}